nav.navigation: .compact: ul
    li: a(href="index.html")
        img(src="../image/icon.svg", alt="Logo")
    li: a(href="pricing.html") Pricing
    li: a(href="privacy.html") Privacy
    li: a(href="server.html") Servers
    li: a(href="apps.html") Apps
    li: a(href="about.html") About