html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="style/style.css")
        script(src="script/script.js" defer)
        title BLOCKED

    body(data-type="block")
        #dialog_container

        .section.red#block_container
            img#block_img(src="../image/report_white_36dp.svg", alt="ERROR")
            h1 STOP!
            h2#url_display This website: "$_url", which you've tried access, have been blocked by the Workers' Party due to: "Not following the standard for appropriate and legal material".
            h2 Please try to access a different website.